{% extends "base.html" %}
{% import 'auth/form_components.html' as forms %}

{% block content %}
<div class="topnav">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center">
            <img src="{{ url_for('static', path='/media/sunbird-favicon.jpg') }}" size="100x100"
                class="rounded-full object-contain h-14 w-14" />
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div id="navbar-default">
            <a class="active" href="/login">Login</a>
            <a href="/privacy_policy">Privacy Policy</a>
            <a href="/terms_of_service">Terms of Service</a>
        </div>
    </div>
</div>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

    {{ forms.auth_intro(text="Sign in to your account", image_url=url_for('static', path='/media/sunbird-favicon.jpg'))
    }}

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="#" method="POST">
            {{ forms.input_field_with_label(id="username", name="username", type="text", label_text="Username") }}

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-orange-500 hover:text-orange-400">Forgot password?</a>
                    </div>
                </div>
                {{ forms.input_field(id="password", name="password", type="password") }}
            </div>
            
            {% for error in errors %}
            <p class="text-sm text-red-500">{{ error }}</p>
            {% endfor %}

            {{ forms.button(type="Submit", text="Sign in") }}
        </form>
        {{ forms.toggle_auth(prompt_text="Don't have an account?", action_text="Sign up", path="/register") }}
    </div>
</div>
{% endblock content %}
