{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<div class="flex h-screen w-full justify-center">
    <div class="w-96">
        <div class="bg-white shadow-sm rounded-lg py-3">
            <div class="p-2">
                <h3 class="text-center text-xl text-gray-900 font-medium leading-8">Account Information</h3>
                <table class="text-sm my-3">
                    <tbody>
                        <tr>
                            <td class="px-2 py-2 text-gray-500 font-semibold">Username:</td>
                            <td class="px-2 py-2">{{ username }}</td>
                        </tr>
                        <tr>
                            <td class="px-2 py-2 text-gray-500 font-semibold">Organization:</td>
                            <td class="px-2 py-2">{{ organization }}</td>
                        </tr>
                        <tr>
                            <td class="px-2 py-2 text-gray-500 font-semibold">Account Type:</td>
                            <td class="px-2 py-2"><span class="font-bold">{{ account_type }}</span> Account</td>
                        </tr>
                    </tbody>
                </table>

                <h3 id="usage" class="text-center text-xl text-gray-900 font-medium leading-8">API Usage</h3>
                <table class="text-sm my-3">
                    <tbody>
                        <tr>
                            <th class="px-2 py-2 text-gray-800 font-bold">Endpoint</td>
                            <th class="px-2 py-2 text-gray-800 font-bold">Number of requests / Monthly Limit</td>
                        </tr>
                        {% for endpoint, count in aggregates.items() %}
                        <tr>
                            <td class="px-2 py-2 text-gray-500 font-semibold">{{ endpoint }}</td>
                            <td class="px-2 py-2">{{ count }} / 432000</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock content %}