{% extends "base.html" %}
{% import 'intro_card.html' as intro_card %}

{% block content %}
{% include "navbar.html" %}

<div class="flex justify-center">
    <div class="mx-4 self-center">
        <h1 class="text-3xl font-bold">Welcome to the Sunbird AI API</h1>
        <h2 class="text-2xl mt-5 mb-5 font-semibold">Get started</h2>
        <div class="grid grid-cols-2 grid-flow-row gap-4">
            {{ intro_card.card("Tutorial", "How to use the API.", "from-indigo-600 to-orange-600", link="https://github.com/SunbirdAI/sunbird-ai-api/blob/main/docs/tutorial.md", target="_blank") }}
            {{ intro_card.card("Examples", "View examples on GitHub.", "from-indigo-600 to-yellow-600", link="https://github.com/SunbirdAI/translation-api-examples", target="_blank") }}
            {{ intro_card.card("Usage", "View your usage stats.", "from-indigo-600 to-red-600", link="/account#usage") }}
            {{ intro_card.card("API Tokens", "Manage access tokens.", "from-indigo-600 to-green-600", link="/tokens") }}
        </div>
    </div>
</div>
{% endblock content %}
